/Data/Test
/Data/MICCFlorence/BFM/bfm_model_front.obj
/Data/MICCFlorence/BFM/BFM_model_front.mat
/Data/MICCFlorence/Images
/Data/MICCFlorence/Reconstruction
.idea
/Data/MICCFlorence/BFM/bfm.blend
/Data/MICCFlorence/BFM/landmark_ids_loc.npy