/Data/Test
/MICCFlorence/Data/BFM/bfm_model_front.obj
/MICCFlorence/Data/BFM/BFM_model_front.mat
/Data/MICCFlorence/Images
MICCFlorence/Data/Reconstruction
.idea
/MICCFlorence/Data/BFM/bfm.blend
/MICCFlorence/Data/BFM/landmark_ids_loc.npy
/Data/MICCFlorence/MICCImages
/MICCFlorence/Data/BFM/bfm.blend1